.EmojiRectangle--container {
    width: 48px;
    height: 48px;
    background: var(--foreground_color);
    border-radius: 16px;
    display: flex;
    align-items: center;
}
.EmojiRectangle--container.big {
    width: 56px;
    height: 56px;
}

.EmojiRectangle--container img {
    width: 36px;
    height: 36px;
    margin: 0 auto;
}
